<h1 class="title animate__animated animate__jackInTheBox">My Tasks Mottu</h1>

<ul class="animate__animated animate__flipInX" *ngIf="mode=='list' ">
  <p class="text-center" *ngIf="todos.length==0"><small>Não tem nenhuma tarefa hoje!</small></p>
  <li *ngFor="let todo of todos">
    {{ todo.title }} 
    <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
    <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>          <!-- () = HTML > TS -->
    <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>                                           <!-- [] = TS > HTML --> <!-- [()] = TS <> HTML -->
  </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
<form [formGroup]="form">
    <input type="text" placeholder="Titulo da Tarefa" maxlength="60" formControlName="title" >
  <p class="text-center">
    <button class="button" (click)="add()"><i class="far fa-save"></i> Salvar</button>
  </p> 
</form> 
<br><br>
</div>

<button class="button add-button animate__animated animate__fadeInUp" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="button add-button animate__animated animate__fadeInUp" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
